*{padding: 0;margin: 0;border: 0;}
*, *:before, *:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}
nav,footer,header,aside{display: block;}
html, body{height: 100%;width: 100%;font-style: 100%;line-height: 1;font-style: 14px;
-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input, button, textarea{font-family: inherit;}
input::-ms-clear{display:none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style-type: none;}
img{vertical-align: top;}
h1,h2, h3, h4, h5, h6{font-style: inherit; font-weight: 400;}


.conteiner {
    max-width: 1180px;
    margin: 0 auto;
}

/*Шапка сайта*/

header {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 130px;
    background: rgba(100, 10, 202, 0.297);
    background-repeat: no-repeat;
}

.header {
    display: flex;
    flex-direction: row;
}

.logo {
    height: 110px;
    margin: 10px 40px 0px 10px;
}

.logo:hover {
    cursor: pointer;
}

img {
    width: 100%;
    height: 100%;
}

.navigation {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    margin: auto;
    padding: 0px 6px 0px 0px;
    height: 100%;
    width: 60%;
}

.navigation a {
    text-transform: uppercase;
    font-size: 18px;
    color: antiquewhite;
    margin: 0px 10px 0px 0px;
}

.navigation a:hover {
    text-decoration: underline;
}

.navigation a:active {
    color: red;
}

a.pseudo::before {
    content: '';
    display: inline-block;
    width: 9px;
    height: 9px;
    margin: 0px 12px 2px 0px;
    background-color: antiquewhite;
    border-radius: 50%;
}

a.pseudo::after {
    content: '';
    display: inline-block;
    width: 9px;
    height: 9px;
    margin: 0px 0px 2px 12px;
    background-color: antiquewhite;
    border-radius: 50%;
}

.number {
    position: relative;
    margin: auto;
    display: block;
}

.number a::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    margin-left: -23px;
    background-image: url("https://www.svgrepo.com/show/533285/phone.svg");
    background-size: 100%;
}

.number a {
    text-transform: uppercase;
    font-size: 22px;
    color: antiquewhite;
    margin: 0px 10px 0px 0px;
}

.number a:hover {
    text-decoration: underline;
}

/*Первый блок*/

.firstBlock {
    padding: 130px 0px 45px 0px;
    width: 100%;
    min-height: 600px;
    background-image: url("https://papik.pro/izobr/uploads/posts/2023-03/1679610815_papik-pro-p-krasivii-peizazh-prirodi-gori-3.jpg");
    background-size: 100%;
}

.firstBlock p {
    margin: 40px 0;
    color: antiquewhite;
}

.text {
    width: 60%;
    padding: 1px 0px 0px 40px;
}

.one {
    font-size: 4em;
    font-family: "Rubik Bubbles";
}

.two {
    font-size: 3em;
}
.three {
    font-size: 2em;
}

.button {
    display: flex;
    justify-content: left;
    margin-left: 120px;
    height: 50px;
    width: 450px;
}

button {
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2em;
    background-color: rgb(225, 0, 255);
    border-radius: 10px;
    padding: 0;
    letter-spacing: 18px;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.342);;
}

button:hover {
    background-color: rgb(141, 1, 160);
}

button:active {
    transform: translateY(2px);
    box-shadow: 0 1px 4px rgba(255, 255, 255, 0.342);;
}

/*Второй блок*/

.secondBlock {
    display: flex;
    flex-direction: row;
    height: 500px;
    overflow: hidden;
}
.text_secondBlock {
    position: relative;
    z-index: 2;
    left: 26px;
    top: 26px;
    padding: 100px 0px 0px 50px;
    background-color: rgba(128, 128, 128, 0.226);
}

.text_secondBlock h2 {
    font-weight: 800;
    font-size: 4em;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 20%;
    background-color:#ff0062;
    height: 1px;
    margin: 10px 0px 0px 0px;
}

.text_secondBlock p {
    margin: 18px 0px 0px 0px;
    font-size: 2em;
}

.pic_secondBlock {
    position: relative;
    z-index: 1;
    min-width: 600px;
}

.pic_secondBlock img {
    padding: 10px 10px 10px 10px;
    width: 100%;
    height: 100%;
}

.button_secondBlock {
    width: 60%;
    height: 41px;
    margin: 50px 0px 0px 5px;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.842);
}

.button_secondBlock button {
    letter-spacing: 4px;
}

.button_secondBlock:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.842);
}

/*Третий блок*/

.thirdBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 100px 50px;
    height: 600px;
    font-family: 'PT Sans Narrow', sans-serif;
}

.in_thirdBlock {
    display: flex;
    flex-direction: column;
    min-height: 100px;
    margin: 28px;
}

.in_thirdBlock div {
    margin: 7px 0px;
}

.in-img_thirdBlock {
    border-radius: 20px;
}

.in-img_thirdBlock img {
    border-radius: 20px;
}

.in-title_thirdBlock {
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: 700;
}

.in-text_thirdBlock {
    text-align: center;
    font-size: 19px;
}

/*Четвертый блок*/

.forthBlock {
    height: 80%;
}

.f-th_flex {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.f-th_flex__title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.smal-text {
    color: darkgrey;
    font-size: 30px;
    line-height: 12px;
}
.big_text {
    color: #ff0062;
    font-size: 56px;
}

.f-th_flex__body {
    display: flex;
    flex-wrap: wrap;
    padding: 0 -40px;
}

.f-th_flex__body__item {
    display: flex;
    flex-direction: column;  
    flex: 0 1 50%;
    margin: 47px 0px;
    padding: 0 40px;
}

.f-th_flex__body__item__title {
    font-size: 36px;
    font-weight: 560;
    text-shadow: 1px 1px #ff0062;
    letter-spacing: 2px;
}
.f-th_flex__body__item__text {
    margin: 15px 0 0 0;
    font-size: 28px;
    text-align: justify;
}